@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans&display=swap');
:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #495159;
    --navbar: #2d2d2d;
    --chalk-yellow: #EEE82C;
    --chalk-brd-green: #00664B;
    --chalk-brd-border: #AF855A;
    --primary-color-rgb: 73,81,89;
    --navbar-rgb: 45,45,45;
    --chalk-yellow-rgb: 238,232,44;
    --chalk-brd-green-rgb: 0,102,75;
    --chalk-brd-border-rgb: 175,133,90;
    --error-color: rgba(194, 0, 0, 1);
}

body{
    margin: 0;
    font-family: 'Fredericka the Great', cursive;
    color: white;
    background: #f1f1e6;
}
a {
    color: white;
    text-decoration: none;
}
.logo {
    padding-left: 2em;
    font-size: large;
    
}
button {
    font-family: 'Fredericka the Great', cursive;
    padding: 5px;
}

section {
}

.navbar {
    background-color: var(--navbar);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0, 0.5);
    width: 100%;
    z-index: 3;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.account-dropbutton-container {
    padding:20px;
}

.account-dropbutton {
    color: white;
    font-family: 'Fredericka the Great', cursive;
    column-gap: 0.5em;
    background: none;
    border: none;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.nav-links, .account-dropdown {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1em;
}

.nav-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.highlight-link {
    transition: all ease 0.2s;
    background: white;
    width: 0;
    height: 2px;
    position: relative;
    top: 1em;
    display: block;
}
.nav-link:hover .highlight-link, .nav-link:hover {
    width: 100%;

}

#account-link {
    display: none;
}

img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}


.account-dropdown-content {
    display: none;
    justify-content: flex-end;
    position: absolute;
    top: 3.5em;
    float: right;
    background-color: var(--navbar);
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.account-dropdown:hover .account-dropdown-content {
    display: block;
}

.dropdown-links {
    float: none;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: all 0.2s ease;
}
.dropdown-links:hover {
    background-color: #646464;
    cursor: pointer;
}
#search-forms-section {
    background: linear-gradient(0deg, rgba(21, 21, 21, 0.2), rgba(21, 21, 21, 0.7)), url("https://img.freepik.com/premium-photo/work-from-home-desk-office-with-laptop-blank-notepad-coffee-cup-pen-wood-table-flat-lay-top-view-copy-spce_545582-1402.jpg?w=2000");
    background-size: cover;
    height: 400px;
    width: 100%;
}
select, .search-button{
    -webkit-appearance: none;
    font-size: large;
    font-family: 'Fredericka the Great', cursive;
    background: none;
    color:white;
    border: solid thin var(--chalk-brd-green);
}

#create-review-course-select, #create-review-teacher-select{
    background: var(--primary-color);
}

.search-button:hover, select:hover {
    border: solid thin gray;
    cursor: pointer;
}

option {
    transition: all ease 0.2s;
    z-index: 5;
}
option:hover {
    background-color: lightgrey;
}
.search-form-containers {
    background-color: var(--chalk-brd-border);
    padding: 2px;
    width: 60%;
    min-width: 360px;
    height: 50%;
    display: flex;
    flex-direction: row;
    font-size: x-large;
    z-index: 5;
}

.search-by-container{
    display: flex;
    background-color: var(--chalk-brd-green);;
    padding: 10px;
    width: 100%;
    height: 90%;
    flex-direction: column;
    align-items: center;
}


#search-by-course-form, #search-by-teacher-form {
    display: flex;
    column-gap: 5px;
}
.chalk-bar {
    background: var(--chalk-yellow);
    width: 5px;
    height: 20px;
    position: relative;
    top: 98px;
    right: 50px;
    z-index: 5;
    transform: rotate(90deg);
}
#white-chalk-search {
    right: 200px;
    background: white;
}
#chalk-eraser-bottom, #chalk-eraser-top {
    right: 300px;
    height: 25px;
}
#chalk-eraser-top {
    top: 95px;
    right: 305px;
    background: tan;
}
#chalk-eraser-bottom {
    background: black;
}
/*Apple art credited to https://likiipedia.com/portfolio/how-to-make-an-apple-using-only-css/*/
.apple-wrapper {
    top: 85px;
    position: relative;
    left: -375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.apple {
    display: flex;
}

.apple-left {
    width: 15px;
    height: 25px;
    background: #f54b40;

    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;

    position: relative;
    left: 5px;

    z-index: 1;
}

.apple-right {
    width: 15px;
    height: 25px;
    background: #f54b40;

    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;

    z-index: 1;
    position: relative;
    right: 1px;
}
.stem {
    background: #088a00;
    width: 2px;
    height: 6px;
    z-index: 1;
    position: relative;
    top: 3px;
}
.apple-shine {
    background: white;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

    width: 2px;
    height: 4px;
    z-index: 1;

    transform: rotate(-45deg);

    position: relative;
    right: 12px;
    top: 5px;
}


#submission-forms-section, #search-forms-section {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#create-review-form {
    background-color: var(--primary-color);
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1em;
    width: 80%;
    min-width: 900px;
    height: 600px;
    box-shadow: 1px 1px 5px 4px rgba(0,0,0,10%);
    border-bottom: solid thick var(--chalk-brd-border);
}
.rating {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.ratings-selection-comment-container {
    display: flex;
    justify-content: space-between;
    column-gap: 1em;

}
.ratings-selection-container {
    width: 100%;
}

.comment-container {
    display: flex;
    flex-direction: column;
    row-gap: .5em;
}
.rating-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.rating-container p {
    padding-top: 0.5em;
    width: 200px;
}
.rating input {
    display: none;
}
.rating label {
    width: 0;
    height: 16px;
    transition: 0.5s;
}

.rating label i {
    font-size: 1.5em;
}
.rating-1-label:hover,
.star1:checked + label{
    color: red;
    cursor: pointer;
}
.rating-2-label:hover,
.star2:checked + label{
    color: rgba(255, 0, 0, 0.5);
    cursor: pointer;
}
.rating-3-label:hover,
.star3:checked + label{
    color: #b8af0b;
    cursor: pointer;
}
.rating-4-label:hover,
.star4:checked + label{
    color: rgba(50, 205, 50, 0.7);
    cursor: pointer;
}
.rating-5-label:hover,
.star5:checked + label{
    color: limegreen;
    cursor: pointer;
}

#comment-text-box {
    background-color: var(--chalk-brd-green);
    outline: solid thin var(--chalk-brd-border);
    color: white;
    font-family: 'Fredericka the Great', cursive;
    min-width: 400px;
    max-width: 400px;
    width: 400px;
    min-height: 200px;
    height: 100%;
    padding: 1em;
    resize: none;
}
#create-review-teacher-select, #create-review-course-select {
    border: solid thin var(--primary-color);
}

#create-review-form-submit {
    font-family: 'Fredericka the Great', cursive;
    width: 30%;
    color: white;
    padding: 0.5em;
    border: solid thin white;
    transition: all 0.2s ease;
}
#create-review-form-submit:enabled {
    background: none;
}

#create-review-form-submit:hover:enabled {
   background: var(--chalk-brd-green);
}

#create-review-form-submit:hover:enabled {
    background-color: #59A96A;
}

.result-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1em;
    margin: 3em auto;
    background: var(--primary-color);
    padding: 1em;
    width: 1200px;
    min-height: 400px;
}
.review-container {
    min-width: 800px;
    width: 100%;
    min-height: 400px;
    background-color: var(--chalk-brd-green);;
}

.review-info {
    padding: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 2em;
}

.review-info-top-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 1em;
}
.review-info-mid-container {
    clear: left;
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

.total-rating-container {
    background-color: lightgrey;
    width: 75px;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.total-rating {
    font-size: 2em;
    color: var(--primary-color);
}

.comment-display{
    height: 175px;
    background-color: lightgrey;
    padding: 1em;

}
.comment-display span, .comment, .comment::placeholder{
    color: var(--primary-color);
}

.filter-buttons-container {
    margin: 3em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1230px;
}
.update-delete-buttons {
    column-gap: 1em;
    display: flex;
    position: relative;
    bottom: 2em;
    left: 1em;
}

.course-teacher-total-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1em;
}
.edit-review {
    color: #d3d3d3;
}
.edit-review:hover {
    color: darkgray;
    cursor:pointer;

}
.delete-review {
    color: #f55b5b;
    transition: all 0.2s ease-in;

}
.delete-review:hover{
    color: yellow;
    cursor: pointer;

}

.comment {
    font-family: 'Fredericka the Great', cursive;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    resize: none;
    background: none;
    border: solid thin lightgrey;
}

.rating-input {
    font-family: 'Fredericka the Great', cursive;
    color: white;
    background: none;
    border: solid thin var(--chalk-brd-green);
}

fieldset {
    display: contents;
}

#rc-imageselect, .g-recaptcha  {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}