:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #131921;
    --secondary-color: #fff;
    --error-color: rgba(194, 0, 0, 0.71);
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: white;
}

a {
    color: white;
}
.logo {
    font-size: large;
    color: white;
}

.navbar {
    background-color: #2d2d2d;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0, 0.5);
    width: 100%;
    z-index: 3;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.account-dropbutton-container {
    padding:20px;
}

.account-dropdown-content {
    display: none;
    position: absolute;
    background-color: #2d2d2d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.account-dropdown:hover .account-dropdown-content {
    display: block;
}

.dropdown-links {
    float: none;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-links:hover {
    background-color: #646464;
}

.account-dropbutton {
    background: none;
    color: white;
    border: none;
}


.search-submission-forms {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#search-form {
    border: solid red;
}

#create-review-form {
    background-color: lightgray;
    padding: 2em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}
.rating {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.rating-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating-container p {
    padding-top: 0.5em;
    width: 200px;
}
.rating input {
    display: none;
}
.rating label {
    width: 0;
    height: 16px;
    cursor: pointer;
    transition: 0.5s;
}
.rating label i {
    font-size: 1.5em;
}
.rating-1-label:hover {
    color: red;
}
.rating-2-label:hover {
    color: darkred;
}
.rating-3-label:hover {
    color: darkgoldenrod;
}
.rating-4-label:hover {
    color: darkgreen;
}
.rating-5-label:hover {
    color: limegreen;
}
#comment-label {
    margin-bottom: 0;
}
.comment-text-box {
    width: 400px;
    height: 200px;
}
